<a href="https://colab.research.google.com/github/rashaKM2025/Data-Science-Salary-Prediction/blob/main/gld_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
df = pd.read_csv('/content/drive/MyDrive/glassdoor/glassdoorjobs_normalization.csv')
df

,unnamed:_0,job_title,salary_estimate,job_description,rating,company_name,location,headquarters,size,founded,...,type_of_ownership_encoded,industry_encoded,sector_encoded,salary_range,city,state,company_size_encoded,revenue_million,company_age,job_title_simplified
0,0,data scientist,$53K-$91K (Glassdoor est.),Job Description,3.8,tecolote research\n3.8,"albuquerque, nm","goleta, ca",501 to 1000 employees,1973,...,2,3,2,NaN,albuquerque,nm,4.0,75.0,53,scientist
1,1,healthcare data scientist,$63K-$112K (Glassdoor est.),Job Description,3.4,university of maryland medical system\n3.4,"linthicum, md","baltimore, md",10000+ employees,1984,...,8,28,12,NaN,linthicum,md,7.0,3500.0,42,scientist
2,2,data scientist,$80K-$90K (Glassdoor est.),Job Description,4.8,knowbe4\n4.8,"clearwater, fl","clearwater, fl",501 to 1000 employees,2010,...,2,48,6,NaN,clearwater,fl,4.0,300.0,16,scientist
3,3,data scientist,$56K-$97K (Glassdoor est.),Job Description,3.8,pnnl\n3.8,"richland, wa","richland, wa",1001 to 5000 employees,1965,...,5,18,19,NaN,richland,wa,5.0,750.0,61,scientist
4,4,data scientist,$86K-$143K (Glassdoor est.),Job Description,2.9,affinity solutions\n2.9,"new york, ny","new york, ny",51 to 200 employees,1998,...,2,2,6,NaN,new york,ny,2.0,0.0,28,scientist
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,922,data scientist,-1,Job Description,4.7,"steel point solutions, llc\n4.7","alexandria, va","calverton, md",1 to 50 employees,2013,...,8,19,13,NaN,alexandria,va,1.0,0.0,13,scientist
593,925,data scientists,-1,Job Description,3.3,miracle software systems\n3.3,michigan,"novi, mi",51 to 200 employees,1994,...,2,35,13,NaN,michigan,unknown,2.0,75.0,32,scientist
594,928,"associate scientist / sr. associate scientist,...",$59K-$125K (Glassdoor est.),Job Description,4.0,23andme\n4.0,"south san francisco, ca","sunnyvale, ca",501 to 1000 employees,2006,...,2,8,5,NaN,south san francisco,ca,4.0,0.0,20,scientist
595,945,machine learning engineer (nlp),$80K-$142K (Glassdoor est.),Job Description,4.1,ck-12 foundation\n4.1,"palo alto, ca","palo alto, ca",1 to 50 employees,2007,...,2,36,9,NaN,palo alto,ca,1.0,0.0,19,engineer
596,948,data engineer,$62K-$113K (Glassdoor est.),Job Description,3.9,fivestars\n3.9,"san francisco, ca","san francisco, ca",201 to 500 employees,2011,...,2,33,13,NaN,san francisco,ca,3.0,300.0,15,engineer

In [9]:
def extract_seniority(title):
    title = str(title).lower()
    if "senior" in title or "sr" in title:
        return "senior"
    elif "lead" in title:
        return "lead"
    elif "manager" in title:
        return "manager"
    elif "junior" in title or "jr" in title:
        return "junior"
    else:
        return "mid"

df['job_seniority'] = df['job_title'].apply(extract_seniority)

In [10]:
west_coast = ['ca','wa','or']
east_coast = ['ny','nj','ma','md','va','dc','pa','nc','sc','fl']
midwest = ['il','oh','mi','mn','wi','in','mo','ia','ks','ne']
south = ['tx','ok','la','ga','al','tn','ky','ms','ar']

def map_region(state):
    state = str(state).lower()
    if state in west_coast:
        return "west_coast"
    elif state in east_coast:
        return "east_coast"
    elif state in midwest:
        return "midwest"
    elif state in south:
        return "south"
    else:
        return "other"

df['region'] = df['state'].apply(map_region)

In [11]:
tech_hubs = ['san francisco','seattle','new york','mountain view','palo alto','menlo park','redmond']
df['is_tech_hub'] = df['city'].apply(lambda x: str(x).lower() in tech_hubs)

In [12]:
df['rating_norm'] = df['rating'] / 5.0
df['is_top_rated'] = df['rating'].apply(lambda x: 1 if x >= 4.0 else 0)

In [15]:
df.to_csv('/content/glassdoorjobs_extraction.csv', index=False)

In [16]:
from google.colab import files
files.download('glassdoorjobs_extraction.csv')